[part~="body-cell"][part~="end-aligned"] ::slotted(vaadin-grid-cell-content) {
    text-align: end;
    padding-right: 23px;
}

[part~="header-cell"] ::slotted(vaadin-grid-cell-content) {
    align-self: end;
}

[part~='clipped'] ::slotted(vaadin-grid-cell-content) {
    text-overflow: clip;
}

:host([theme~='details']) [part~='cell'] ::slotted(vaadin-grid-cell-content) {
    --_cell-padding: var(--lumo-space-s) 0.75rem;
}

:host([theme~='details']) [part~='header-cell'] ::slotted(vaadin-grid-cell-content) {
    --_cell-padding: var(--lumo-space-m) 0.75rem var(--lumo-space-s) 0.75rem;
}

[part~='completed']:not([part~='details-cell']) ::slotted(vaadin-grid-cell-content) {
    --lumo-body-text-color: var(--lumo-secondary-text-color);
    --lumo-primary-text-color: var(--lumo-secondary-text-color);
}

[part~='not-started']:not([part~='details-cell']) ::slotted(vaadin-grid-cell-content) {
    --lumo-body-text-color: var(--lumo-secondary-text-color);
    --lumo-primary-text-color: var(--lumo-primary-color-50pct);
}
