.toggleable-number-range-filter {
    width: 100%;
    max-width: 100%;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    gap: var(--lumo-space-xs);
    align-items: center;

    .toggleable-number-range-input {
        flex: 1;
        min-width: 24px !important;
        width: 160px;
        padding: 0;

        input {
            mask-image: none !important;
        }
    }

    vaadin-button {
        min-width: 24px !important;
        width: 24px;
        margin: 0;
    }
}

.bookkeeper-grid {
    vaadin-grid-cell-content {
        vaadin-grid-sorter:has(.grid-header-filter) {
            &::part(indicators) {
                align-self: end;
                margin-bottom: 14px;
            }
        }

        ::part(input-field) {
            box-sizing: border-box;
            padding: 0 0 0 6px;
            background: var(--vaadin-input-field-background, var(--lumo-contrast-5pct));
        }

        .grid-header-filter::part(label) {
            padding-bottom: 0.5em;
            padding-right: 0.25em;
        }

        .grid-header-filter {
            margin: 8px 0 6px 0;
            padding: 0;
            max-width: 100%;
            width: 160px;
            align-items: end;

            label {
                text-wrap: auto;
                text-align: start;
                display: block;
                color: var(--lumo-body-text-color);
            }

            input {
                color: var(--lumo-body-text-color);
                padding: 0;
                mask-image: linear-gradient(to left, transparent, #000 6px);

                &::placeholder {
                    color: var(--lumo-body-text-color);
                    font-size: var(--lumo-font-size-s);
                    text-overflow: ellipsis;
                }
            }

            div[slot='helper'] {
                color: var(--lumo-body-text-color);
            }
        }
    }
}
